<nz-header class="header">
  <div class="nav-content">
    <h1 class="app-title">Guardian Bumblebee</h1>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <button nz-button>
        <i nz-icon nzType="global" nzTheme="outline"></i>
      </button>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        @for(lang of languages; track lang.name){
        <li nz-menu-item (click)="changeLanguage(lang)">
          {{ lang.name }}
        </li>
        }
      </ul>
    </nz-dropdown-menu>
  </div>
</nz-header>
