.main-layout {
  height: 100vh;
  overflow-y: hidden;
}

.secondary-layout {
  display: flex;
  flex-direction: row;
}

.content-layout {
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}
